@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Manrope";
  font-display: swap;
  font-weight: 800;
  src: url(./assets/fonts/Manrope/static/Manrope-ExtraBold.ttf);
}
@font-face {
  font-family: "Manrope";
  font-weight: 600;
  font-display: swap;
  src: url(./assets/fonts/Manrope/static/Manrope-SemiBold.ttf);
}
input[type="range"]::-webkit-slider-thumb {
  @apply bg-[url('./assets/images/icon-slider.svg')] bg-no-repeat bg-center relative w-10 h-10 rounded-full shadow-[0_10px_20px_-1px_#10d5c2] appearance-none  bg-StrongCyan;
}
input[type="range"]::-moz-range-thumb {
  @apply relative w-10 h-10 border-none rounded-full appearance-none bg-StrongCyan;
}
input[type="range"]::-webkit-slider-runnable-track {
  @apply appearance-none;
}
.toggle {
  @apply transition-all after:transition-all block w-12 h-6 rounded-full  hover:bg-StrongCyan  relative after:content-[""] after:absolute after:rounded-full after:top-1/2 after:-translate-y-1/2 after:left-1 after:w-5 after:h-5 after:bg-LightGrayishBlue1;
}
.StartMyTrial P {
  @apply flex items-center justify-center gap-2 md:justify-start;
}
